.booking-page {
    background-image: url('/public/assets/booking.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
  }
  
  .booking-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #A0522D; /* Couleur marron */
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8B4513; /* Couleur marron foncé */
  }
  